extends ../main.layout.pug

block text-blog
    .info__text--blog
        h1.info__title--blog БЛОГ
        h2.info__desc--blog Статьи, которые я написал

block arrow-down
  .header__down.header__down--display-none
    a(href="#").header__down-link
      +icon('arrow_down','arrow_down-icon')

block variables
  - var title = 'Блог'

block scripts
  script(src='blog.bundle.js')

block content
    section.stuff
        .stuff__triangles.stuff__triangles--position
            svg(fill="#fff", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                polygon(points="0,0 0,150 900,150")
            svg(fill="#fff", viewbox="0 0 900 150", class="triangle", preserveAspectRatio="none")
                polygon(points="0,150 900,150 900,0")
    section.blog
        .blog__container
            .blog__left
                aside.aside
                    ul.aside__menu
                        li.aside__menu-item.aside__menu-item--active
                            a(href="#").aside__menu-link Самое важное в SASS
                        li.aside__menu-item
                            a(href="#").aside__menu-link Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.aside__menu-item
                            a(href="#").aside__menu-link Самый необходимый набор Gulp плагинов
                        li.aside__menu-item
                            a(href="#").aside__menu-link Почему я выбрал Pug
            .blog__right
                .blog__right-content
                    ul.blog__list
                        li.blog__item
                            .article__blog-header
                                h2.article__blog-title Самое важное в SASS
                                time(datetime="2018-12-23").article__blog-date 23 декабря 2018
                            .article__blog-content
                                p.article__blog-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p.article__blog-text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                .article__blog-image
                                    +image('blog_example.png', 'Example', 'img')
                        li.blog__item
                            .article__blog-header
                                h2.article__blog-title Приёмы в вёрстке, без которых не обходится ни один сайт
                                time(datetime="2018-12-23").article__blog-date 23 декабря 2018
                            .article__blog-content
                                p.article__blog-text Не часто встретишь UX-проектировщика и верстальщика в одном лице. Но верстальщикам время от времени приходится принимать решения, которые могут повлиять на взаимодействие: сделать его удобным или отвратительным, в зависимости от того, как будет сверстан компонент. Не важно, верстаете ли вы под мобильные без макета или просто добавляете кнопку, о которой забыли на этапе проектирования, вам нужно как минимум знать основы.
                                p.article__blog-text Для начала предлагаю обратить внимание на типичную ошибку новичка: ссылки и кнопки маленького размера, между ними мало пространства. Это ок, если взаимодействие происходит мышкой, но совершенно не годится, когда речь идет о тач-устройствах. Многократные попытки попасть по ссылке, которые в результате приводят к попаданию по соседней ссылке, очень быстро выводят пользователей из себя. Наверняка каждый из нас бывал в такой ситуации, и первое, что хочется сделать, — покинуть неудобный сайт.
                        li.blog__item
                            .article__blog-header
                                h2.article__blog-title Самый необходимый набор Gulp плагинов
                                time(datetime="2018-12-23").article__blog-date 23 декабря 2018
                            .article__blog-content
                                p.article__blog-text gulp-browser-sync — вероятно, самый нужный инструмент, с точки зрения повышения продуктивности веб-разработчиков. BrowserSync создает подключение, после чего производит автообновление страницы во всех браузерах на всех устройствах при изменениями не только клиентских или даже серверных файлов. А плюс ко всему синхронизирует позицию скроллинга и заполненные данные в формах.
                                p.article__blog-text gulp-autopolyfiller — мега крутой плагин, который похож на Autoprefixer и подбирает все необходимые полифилы для JavaScript, чтобы вы могли использовать последние стандарты ECMAScript уже сегодня. Еще рекомендую gulp-babel, который конвертирует ES6/ES7 в ES5. 
                        li.blog__item
                            .article__blog-header
                                h2.article__blog-title Почему я выбрал Pug
                                time(datetime="2018-12-23").article__blog-date 23 декабря 2018
                            .article__blog-content
                                p.article__blog-text В большинстве случаев в процессе верстки сайта на чистом HTML разработчику будет не хватать его возможностей. Прежде всего давайте обратим внимание на то, что в Pug теги не закрываются — это осуществляется с помощью табуляции.
                                p.article__blog-text В данном шаблонизаторе используется минимум уголков и скобочек. Это удобно и способствует ускорению работы верстальщика. Наследование шаблонов — это главная «плюшка» шаблонизаторов. Так же существует возможность создавать миксины. На чистом HTML нет ничего подобного. Просто пришлось бы монотонно дублировать код статьи, менять ей текст, и так далее, пока не заполнятся все статьи — получилось бы очень много кода, в котором легко потеряться.    

                                
        
                
