extends ../auth.layout.pug

block content
    .parallax
        .parallax__layer
            <video  autoplay loop class="parallax__video">
                <source src="./assets/images/video/night.mp4">
            </video>
        .parallax__layer.parallax__layer--image(data-speed=`0.02`)
            img.parallax__image(src="./assets/images/pic/Layer_1.png" alt="mount")
    .wrap
        .container.container-auth
            .wrapper__auth
                .auth
                    .auth-front.auth__face
                        .info.info_auth
                            .info__photo
                                +image('pic/IMG_1844.jpg', 'photo', 'img img-circle')
                            .info__text
                                h1.info__title Дмитрий Олин
                                h2.info__desc Личный сайт веб разработчика
                            - var icons = ["vk", "github", "in"]
                            - var iconsHref = ["https://vk.com/id222946", "https://github.com/olindv", "#"]
                            +listIcons('icons', icons, iconsHref)
                        - var items = ["Мои работы", "Обо мне", "Блог"]
                        - var itemsHref = ["works.html", "about.html", "blog.html"]
                        +menu('menu', items, itemsHref)
                    .auth-back.auth__face
                        .auth-back__info
                            .section__text
                                h2.section__title.section__title--underline Авторизуйтесь
                            .auth-back__form
                                form.form
                                    .form__contain
                                        .form__row
                                            label(for="login").label__show
                                            input(type="text", placeholder="Логин" name="login").form__input
                                            .form__input-icon
                                                +icon('login', 'login-icon')
                                        .form__row
                                            label(for="password").label__show
                                            input(type="password", placeholder="Пароль" name="password").form__input
                                            .form__input-icon
                                                +icon('password', 'password-icon')
                                        label.form__label.form__label_checkbox
                                            input(type="checkbox" name="check").form__checkbox
                                            .form__checkbox-fake
                                            span.form__checkbox-text Я человек
                                        .form__question Вы точно не робот?
                                        .form__answer
                                            label.form__label.form__label_first
                                                input(type="radio", name="robot", value="yes").form__radio
                                                .form__radio-fake
                                                span.form__radio-text Да
                                            label.form__label.form__label_first
                                                input(type="radio", name="robot", value="no").form__radio
                                                .form__radio-fake
                                                span.form__radio-text Не уверен
                                    .form__btns
                                        a(href="#").form__btn.form__btn--main На главную
                                        button(type="submit").form__btn.form__submit Войти
                        //- - items = ["На главную", "Войти"]
                        //- - itemsHref = ["#", "#"]
                        //- +menu('menu', items, itemsHref)
            .wrapper-button
                button.button.button__auth Авторизоваться
            div.footer__title.footer__title_auth 
                span &copy; Дмитрий Олин 
                span.footer__title-adaptive |
                span  Cоздано с любовью в LoftSchool | 2018