header.header
  .info.info__header
    .info__container
      .info__photo
        +image('pic/IMG_1844.jpg', 'Photo', 'img img-circle')
      block text-blog
        .info__text
          h1.info__title Дмитрий Олин
          h2.info__desc Личный сайт веб разработчика
  .header__icons
    - var icons = ["vk","github","in"]
    - var iconsHref = ["https://vk.com/id222946", "https://github.com/olindv", "#"]
    +listIcons('icons', icons, iconsHref)
  .popup
    a(href="#").popup__order
      - for(var i=0;i<3;i++)
        span.popup__order-item
    .popup__overlay
      - var items = ["Мои работы", "Обо мне", "Блог", "Авторизация"]
      - var itemsHref = ["works.html", "about.html", "blog.html", "index.html"]
      +menu('popup', items, itemsHref)
  block arrow-down
    .header__down
      a(href="#").header__down-link
        +icon('arrow_down','arrow_down-icon')