include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport")

    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
    include ./common/preloader.pug
    block maps
      
  body
    .preloader
      svg(viewBox="0 0 52.586 63.73" preserveAspectRation="none").preloader__icon
        circle(cx="26.293" cy="37.438" r="25").preloader__circle
        circle(cx="2" cy="2" r="4.5").preloader__ring
      span.preloader__text 0
    .wrapper
      .maincontent
        include ./common/header.pug
        block content

      include ./common/footer.pug
      include ./components/entry.pug


    //- script(src='bootloader.bundle.js')
    //- script(src='vendor.bundle.js')
    block scripts
