//Убираем стрелку из header

.header__down--display-none{
    display: none;
}

//Меняем цвет треугольника при адаптиве

.triangle--fill {
    @media (max-width: 1050px) {
        fill: #efeee9;
    }
}

//Секция "Обо мне"

.about {
    font-family: "Roboto";
    color: rgb(71, 75, 87);
    display: flex;
    @media (max-width: 1050px) {
        flex-wrap: wrap;
    }
}
.about__left,
.about__right {
    width: 50%;
    @media (max-width: 1050px) {
        width: 100%;
        flex-basis: 100%;
    }
}
.about__left {
    display: flex;
    background-color: $white;
    @include monitor {
        flex-direction: column;
    }
}
.about__right {
    background-color: $beige;
    padding: 0 30px 30px;
    @media (max-width: 1050px) {
        padding:  0 0 50px;
    }
}

.about__left-title {
    width: 40%;
    display: flex;
    justify-content: center;
    background: url(assets/images/pic/stars4.png) 50% 0% no-repeat;
    background-size: 75%;
    @include monitor {
        margin-bottom: 30px;
        width: auto;
        background-size: 23%;
    }
    @media (max-width: 1050px) {
        background-size: 13%;
    }
    @include tablets {
        background-size: 18%;
    }
    @include phones {
        background: none;
    }
}
.about__left-content{
    width: 60%;
    @include monitor {
        width: auto;
    }
}

.user-description__data {
    padding: 0 30px;
    @include monitor{
        padding: 0 100px;
    }
    @include phones{
        padding: 10px;
    }
}

.block-title {
    font-size: 62px;
    text-transform: uppercase; 
    font-family: "Sansus";
}

.user-description__image {
    display: flex;
    justify-content: center;
}

.text-content {
    margin-top: 15px;
}

.text-content__desc {
    margin-bottom: 15px;
}

.about__right-title {
    width: 40%;
    margin: 0 auto;
    @include monitor{
        width: 300px;
    }
}

.about__right-description {
    margin-bottom: 15px;
    @media (max-width: 1050px) {
        margin: 15px 100px;
    }
    @include phones {
        margin: 15px 10px;
    }
}

// .skill{
//     position: relative;
//     height: 108px;
// }

// .skills-row {
//     padding-top: 30px;
//     @media (max-width: 1050px) {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }
//     @include phones{
//         &:not(:first-child){
//             padding-top: 0;
//         }
//     }
// }

// .skills-row__list {
//     display: flex;
//     padding-top: 15px;
//     @include phones {
//         flex-wrap: wrap;
//         justify-content: center;
//     }
// }

// .skills-row__item {
//     width: 108px;
//     margin-right: 30px;
//     @include monitor {
//         margin-right: 15px;
//     }
//     @include phones {
//         margin-right: 50px;
//         margin-bottom: 20px;
//     }
// }

// .skills-row__title {
//     font-size: 28px;
//     font-family: "Roboto";
//     color: rgb(71, 75, 87);  
// }

// .skill__title {
//     font-size: 14px;
//     font-family: "Roboto";
//     color: $light-blue;
//     text-align: center;
//     font-weight: bold;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);

// }
// .skill__circle {
//     fill: transparent;
//     stroke-width: 15;
//     display: block;
// }
// .skill__circle_under{
//     stroke: #dfdcd5;
// }

// .skill__circle_above {
//     stroke-dasharray: 282px;
//     stroke-dashoffset: 56px;
//     stroke: $light-blue;
//     opacity: 0.8;
//     transform: rotate(-90deg);
//     transform-origin: 55px 55px;
// }

//Стилизация секции яндекс карт

.map {
    width: 100%;
    height: 100vh;
    position: relative;
}

.contacts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.702);
    width: 580px;
    // height: 283px;    
    @include tablets {
        width: 300px;
    }
}

.contacts-mobile {
    display: none;
    @include phones {
        display: block;
    }
}
.contacts__mobile--display-none{
    @include phones {
        display: none;
    }
}

.section__title--font-color {
    color: rgb(71, 75, 87);
    font-family: "Sansus";
    font-size: 35px;
    text-align: center;    
    margin-top: 20px;  
    &:after {
        background-color: rgb(71, 75, 87, 0.502);          
    }
}
.contacts__list {
    display: flex;
    flex-wrap: wrap;
    @include tablets {
        flex-direction: column;
    }
}
.contacts__elem {
    display: flex;
    font-family: "Roboto";
    color: rgba(71, 75, 87, 1); 
    align-items: center;
    flex-basis: 45%;
    margin: 30px 10px;
    // margin-top: 30px;  
    // margin-left: 20px;
    &:nth-child(1) {
        order: 0;
    }
    &:nth-child(2) {
        order: 5;
    }
    &:nth-child(3) {
        order: 10;
    }
    &:nth-child(4) {
        order: 15;
    }
    @include tablets {
        &:nth-child(2){
            order: 12;
        }
        margin: 15px 15px;
    }
}

.contacts__icon {
    fill: $light-blue;
    margin-right: 10px;
}

.contacts__text {
    white-space: nowrap;
}


.info__text--blog{
    text-align: center;
}

.info__title--blog {
    font-family: "Sansus";
    font-size: 63px;
    @include tablets {
        font-size: 49px;
    }
    @include phones {
        font-size: 35px;
    }
}

.info__desc--blog {
    font-family: "Roboto";
    font-size: 16px;
    @include tablets {
        font-size: 14px;
    }
}