
.blog{
    width: 100%;
    font-family: "Roboto";
    color: rgb(69, 90, 100);
    position: relative;
    padding-bottom: 180px;
    @include tablets {
        padding-bottom: 260px;
    }
    @include phones {
        padding-bottom: 320px;
    }

}

.blog__container {
    display: flex;
    margin-top: 50px;
}

.blog__left {
    width: 30%;
    text-align: right;
    display: flex;
    justify-content: center;
    @include tablets {
        display: none;
    }
}

.aside {
    width: 57%;
}

.aside__menu--relative {
    position: relative;
}

.aside__menu--fixed {
    position: fixed;
    top: 1%;
    left: 7%;
    width: 17%;
    transform: translateX(-9px);
}

.aside__menu-item {
    padding-right: 10px;
    margin-bottom: 20px;
    border-right: 3px solid #fff;   
    &:hover {
        border-color: $light-blue;   
        color: $light-blue;
        font-weight: bold;
        .aside__menu-link {
            color: $light-blue;
        }
    }
}

.aside__menu-link{
    text-decoration: none;
    color: rgb(69, 90, 100);
}


.aside__menu-item--active {
    font-weight: bold;
    border-right: 3px solid $light-blue;     
    .aside__menu-link{
        color: $light-blue;
    }
}

.blog__right {
    width: 70%;
    @include tablets{
        width: 100%;
    }
}

.blog__right-content {
    width: 80%;
    @include tablets{
        width: 100%;
        padding: 0 30px;
    }
}

.blog__item:not(:first-child) {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 3px solid #ecebe4
}
.article__blog-header {
    margin-bottom: 15px;
}

.article__blog-title {
    font-size: 35px;
    font-family: "Sansus";
    color: rgb(71, 75, 87);
    margin-bottom: 10px;
    @include tablets {
        font-size: 30px;
    }
    @include phones {
        font-size: 21px;
    }
}

.article__blog-date {
    color: rgba(8, 60, 150, 0.702);
}

.article__blog-text {
    margin-bottom: 10px;
}
