.footer{
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    .footer__title{
      background-color: rgba($light-blue, 0.85);
      padding: 10px 0;
    }
    .menu-footer__list{
      margin-bottom: 20px;
    }
    .icons__item{
        svg{
            fill: #8f9095;
        }
      &:hover{
        svg{
          fill: $light-blue;
          opacity: 1;
        }
      }
    }
}

.footer__main{
    display: flex;
    background-color: rgba(28,31,41, 0.8);
    padding: 25px 0;
    @include tablets{
        flex-wrap: wrap;
    }
    @include phones {
        padding: 0;
    }
}
.footer__column{
    width: calc(100%/3);
    flex: 1;
    padding: 0 30px;
    position: relative;
    border-right: 1px solid $text-color;
    &:last-child{
        border-right: none;
    }
    @include tablets {
        border-right: none;
        padding-top: 25px;
    }
    @include phones {
        padding: 0 0;
    }
}

.footer__column--left {
    @include tablets {
        // display: flex;
        text-align: center;
        flex-basis: 100%;
        border-bottom: 1px solid $text-color;
        // align-items: center;
        // justify-content: center;
        padding-bottom: 25px;
        padding-top: 0;
    }
    @include phones {
        padding: 15px 0;
    }
}

.footer__column--right {
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 0;
        padding-right: 20px;
    }
    @include phones {
        align-items: center;
        padding: 15px 0;
    }
}

.footer__column--midle {
    @include tablets {
        padding-right: 0;
        padding-left: 20px;
    }
    @include phones {
        border-bottom: 1px solid $text-color;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
}

  
.footer__title{
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.footer__title_auth{
    position: absolute;
    bottom: 4%;
    width: 100%;
    @include phones {
        width: 80%;
        right: 50%;
        transform: translateX(+50%);
    }
} 

.menu-footer__list{
    display: flex;
    flex-wrap: wrap;
}
.menu-footer__item{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
}
.menu-footer__link{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    display: block;
    // white-space: nowrap;
    &:hover{
      text-decoration: underline;
    }
    @include tablets {
        font-size: 13px;
    }
}
.footer__text{
    font-weight: 300;
    // white-space: nowrap;
    @include tablets {
        font-size: 13px;
    }
}
.footer__text_skew{
    font-style: italic;
}
.footer__text_bold{
    font-weight: 700;
    font-style: italic;
}