// Иконки на странице авторизации
.vk-icon{
    width: 30px;
    height: 17px;
}
.github-icon{
width: 26px;
height: 22px;
}
.in-icon{
width: 24px;
height: 23px;
}

.login-icon{
width: 15px;
height: 17px;
}

.password-icon{
width: 18px;
height: 17px;
} 

.arrow_down-icon {
    width: 26px;
    height: 16px;
    transition: .3s;
}

.portf_arrow_down-icon, .portf_arrow_up-icon{
    width: 43px;
    height: 27px;
    transition: .3s;
}
.link-icon{
    width: 20px;
    height: 19px;
}

.arrow__up-icon {
    fill: #fff;
    width: 26px;
    height: 16px;
    transition: .3s;
    opacity: 0.7;
}

.contacts__icon-img {
    width: 47px;
    height: 47px;
}
