//Поднимаем стрелку

.header__down--position-bottom{
    bottom: 250px;
    @include tablets {
        bottom: 150px;
    }
    @include phones {
        bottom: 130px;
    }
}


//**
.section__title--padding-bottom {
    @include tablets {
        padding-bottom: 0;
    }
    // @include phones {
    //     padding-bottom: 0;
    // }
}


.section__text--background{
    background: url('./assets/images/pic/stars2.png') center center no-repeat;
    background-color: rgba(#0c0f1e, 0.85);
    background-size: contain;
    padding: 65px 0 35px;
    flex-basis: 100%;
    @include tablets {
        padding: 30px 0;
    }
    @include phones {
        padding: 20px 0;
    }
}
  
.section-about{
    padding-bottom: 330px;
    .section__text{
        background: url('./assets/images/pic/stars3.png') center center no-repeat;
        background-size: contain;
        padding: 65px 0 30px;
    }
    .section__title{
        padding-bottom: 35px;
        width: 400px;
        &--font-size {
            font-size: 62.792px;
        }
    }
    @include phones {
        padding-bottom: 400px;
    }
}
  
.countainer-about {
    padding-top: 30px;
}

.posts{
    margin-bottom: 65px;
    font-style: italic;
    color: #5d5a55;
}
.posts__list{
    display: flex;
    justify-content: space-evenly;
    @include phones {
        flex-direction: column;
    }
}
.posts__item{
    flex-basis: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include phones {
        margin-bottom: 40px;
        padding: 0 30px;
        font-size: 14px;
        line-height: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.posts__icon{
    width: 77px;
    height: 77px;
    margin-bottom: 20px;
}
.posts__text{
    margin-bottom: 25px;
    color: #fff;
}
.posts__author{
    text-align: center;
    color: #fff;
}
.posts__author-name{
    margin-bottom: 5px;
    font-weight: bold;
}

.posts__img {
    background-image: url(./assets/images/commas.png);
    width: 75px;
    height: 62px;
    position: absolute;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    @include phones {
        left: 7%;
    }

}
  
.form-wrapper{
    .section__text{
      padding: 0;
    }
    .section__title{
      color: #fff;
      font-size: 35px;
      padding-bottom: 30px;
      width: 300px;
      &:after{
        background-color: rgba(242, 240, 232, 0.502);
      }
    }
}
.section-about__form{
    display: flex;
    justify-content: center;
    .form{
        .form__contain{
            padding: 30px 20px 20px;
        }
    }
    .form__input{
      padding-left: 20px;
      background-color: rgba(255, 255, 255, 0.071);
      color: #fff;
    }
}  
.form-wrapper{
    width: 380px;
    background-color: rgba(255, 255, 255, 0.051);
    .menu__list{
        .menu__item{
            &::before{
                width: 0;
            }
        }
        .menu__item:last-child{
            .menu__link{
                background-color:initial;
                color: rgba(255, 255, 255, 0.502);
            }
        }
    }
}

.form__text {
    margin-bottom: 30px;
}
.form__textarea{
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: none;
    resize: none;
    background-color: rgba(255, 255, 255, 0.071);
    color: #fff;
}

// .form__btns--work {
//     position: static;

// }

// .form__btn--before {
//     &::before{
//         display: none;
//     }
// }

// .form__reset {
//     background-color: transparent;
//     &:hover {
//         background-color: transparent;
//     }
// }

.arrow__up{
    position: absolute;
    left: 50%;
    top: 106%;
    @include tablets {
        top: 103%;
    }
}
  