script(type="text/x-template")#slider-root
    .slider
        info(
            :work ="currentWork"
        )
        display(
            :work="currentWork"
        )
        btns(
            :works="works",
            :index="currentIndex"
            @slide="handleSlide"
        )


script(type="text/x-template")#slider-info
    transition(name="change")
        .slider__info-container
            .slider__info
                .slider__info-title
                    .subtitle {{work.title}}
                    .slider__info-skills {{work.skills}}
                    a(:href="work.link", target="_blank").button.button_slider
                        span.slider__info-icon
                            +icon('link','link-icon')
                        span.slider__info-text Посмотреть сайт

script(type="text/x-template")#slider-display
    .slider__display
        img(:src="work.photo", alt="").slider__big-pic

script(type="text/x-template")#slider-btns
    div.slider__buttons
        div.slider__button(@click="slide('prev')")
            transition-group(name="slide-down" tag="div").slider__button-container
                .slider__button-img-wrap(:key="prevButtonWorks[index].photo")
                    img(:src="prevButtonWorks[index].photo", alt="").slider__button-pic
        div.slider__button.slider__button_next(@click="slide('next')")
            transition-group(name="slide-up" tag="div").slider__button-container
                .slider__button-img-wrap(:key="nextButtonWorks[index].photo")
                    img(:src="nextButtonWorks[index].photo", alt="").slider__button-pic


