.preloader{
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('./assets/images/preloader/prel_bg.jpg') center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.preloader__icon {
    stroke: #fff;
    width: 50px;
    height: 90px;  
    fill: none;
    overflow: visible !important;
}

.preloader__circle {
    stroke-dasharray: 158px;
}
.preloader__text{
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-28%);
}
.preloader__ring{
    animation: svg-loader 1s linear infinite; 
}
 
@keyframes svg-loader {
    from {
        transform: rotate(0);
        transform-origin: 50% 55%
    }
    to {
        transform: rotate(360deg);
        transform-origin: 50% 55%
    }
}