.stuff__triangles{
    width: 100%;
    margin-top: -150px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.triangle{
    height: 150px;
    width: 50%;
}



.stuff__triangles--margin {
    margin-top: -307px;
}